@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --very_dark_cyan: hsl(183, 100%, 15%);
  --dark_grayis_cyan: hsl(186, 14%, 43%);
  --grayish_cyan: hsl(184, 14%, 56%);
  --Light_grayish_cyan: hsl(185, 41%, 84%);
  --very_light_grayish_cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --strong_cyan: hsl(172, 67%, 45%);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Space Mono', monospace;
  /* border: 1px solid black; */
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--Light_grayish_cyan);
}

.container img{
    margin-bottom: 80px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 30px;
    border-radius: 20px;
    background-color: var(--white);
}

#entradas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 325px;
}

#entradas label{
    color: var(--grayish_cyan);
}

#entradas input{
    background-color:  var(--very_light_grayish_cyan);
    height: 35px;
    border-radius: 8px;
    text-align: end;
    padding: 0px 10px ;
    width: 320px;
    margin: 0 auto;
    border-style: none;
    color: var(--very_dark_cyan);
}

#entradas input:focus{
    outline: 2px solid var(--strong_cyan);
}

#conta{
    background: url("./img/icon-dollar.svg") no-repeat left;
}

#pessoas{
    background: url("./img/icon-person.svg")no-repeat left;
}

.porcentos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin: 0 auto;
}

.btn-prc{
    width: 105px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: var(--very_dark_cyan);
    color: var(--white);
    font-size: 22px;
    border-style: none;
}

#saidas{
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 255px;
    padding: 35px;
    border-radius: 15px;
    margin-left: 35px;
    background-color: var(--very_dark_cyan);
}

.infoValor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos{
    font-size: 15px;
}

.infos label{
    color: var(--white);
}

.infos p{
    color: var(--grayish_cyan);
}

.infoValor .valor{
    font-size: 25px;
    color: var(--strong_cyan);
}

#valorPessoa{
    margin-top: 20px;
}

#saidas button{
    margin-top: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--strong_cyan);
    color: var(--very_dark_cyan);
    border-style: none;
}